@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');
body{
  padding: 0;
  margin: 0;
  background: #EDE7DE;
  font: 15px/1.5 'Roboto';

}
/*Global*/
.container{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}
/*Header*/
header{
  padding-top: 107px;
  min-height: 50px;
}
header h1{
  color: #16676A;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  line-height: 63px;
  margin: 0;
  padding: 0;
}
header h6{
  color: #777777;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  margin-top: 5px;
  margin-bottom: 0;
}

#event-img {
  display: flex;
}
#event-img img{
  width: 100%;
  object-fit: contain;
}
#date-location .container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

#date-location .box{
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 30px;

}

#date-location .box img{
  margin-right: 20px;
  margin-bottom: 20px;
}
#date-location .box p{
  margin: 0;
}

#content h5{
  color: #16676A;
  font-size: 17px;
  line-height: 28px;
  margin: 0;
}
#content p{
  line-height: 2em;
  text-align:left;
  max-width: 42rem;
}

span{
   padding: 15px;
   border-radius: 3px;
   background: #00816A;
 }
#date{
  font-family: 'Roboto';
  color: #16676A;
  font-size: 17px;
  line-height: 28px;
  font-weight: bold;
}
.select-form{
  display: flex;
  flex-direction: row;
  outline: none;
  flex-wrap: wrap;

}
#answer{
  padding: 0;
  margin: 0;
  padding-right: 20px;
}
.input{
  margin-top: 10px;

}
.inside-input{
  background-color:#EDE7DE;
  border: none;
  outline: none;

}
select{
  background-color:#EDE7DE;
  border: none;
  outline: none;
  margin-right: 10px;
}

button{
  display: flex;
  background-color: #16676A;
  color: black;
  border: none;
  font: 15px/1.5 'Roboto';
  padding: 10px 70px;
  margin-top: 10px;
  outline: none;

}
iframe{
  display: none;
}
